#heart{
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: orangered;
	height: 50px;
	width: 50px;
	transform: rotate(-45deg);
}

#heart::after{
	content: "";
	background-color: orangered;
	border-radius: 50%;
	position: absolute;
	width: 50px;
	height: 50px;
	left: 25px;
	top: 0px;
}

#heart::before{
	content: "";
	background-color: orangered;
	position: absolute;
	border-radius: 50%;
	left: 0px;
	top: -25px;
	width: 50px;
	height: 50px;
}